# =========================
# LaTeX build files
# =========================

*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
*.bbl
*.blg
*.lof
*.lot
*.nav
*.snm
*.vrb

# LaTeX intermediate folders
_build/
latex-build/


# =========================
# C build files
# =========================

bin/
certs/
*.o
*.so
*.a
*.out

# Executables
client
server
*.exe


# =========================
# Benchmark outputs
# =========================

*.dat
*.tmp


# =========================
# OS files
# =========================

.DS_Store
Thumbs.db


# =========================
# Editor / IDE
# =========================

.vscode/
.idea/
*.swp
*.swo


# =========================
# Misc
# =========================

*.bak
*.backup
*.tmp